!!! 5
html
	head
		title= settings.title
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Francois+One")
		link(rel="stylesheet", type="text/css", href="/stylesheets/showcase.css")
		script(src="http://ajax.cdnjs.com/ajax/libs/headjs/0.9/head.min.js", type="text/javascript")
		script(id="user", type="text/html")
			li {{ nome }}

	body

		h2 mb

		input(id="qs", type="text")

		ul(id='ls')

		script(src="/javascript/qs.js", type="text/javascript")