!!! 5
html
	head
		title= settings.title
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic")
		link(rel="stylesheet", type="text/css", href="/stylesheets/reset.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
	
	body
		nav
			div fabiano.nunes
		section(class="main")
			article(class="west")
				h1 Contatos
				div(class="search")
					input(type="text")
			article(class="center") child 2
		footer
